[package]
name = "mpd_protocol"
version = "0.1.0"
authors = ["Ole Bertram <git@bertr.am>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bytes = "0.5"
tokio-util = { version = "0.2", features = ["codec"] }
nom = "5"
